body {
  padding: 0px;
  margin: 0px;
}

/* #map,
body,
html {
  height: 100%;
  width: 100%
} */


#map-container {
    position: relative;
    height: 450px;
    width: 600px;
}

#map-frame {
  position: relative;
  height: inherit;
  width: inherit;
  border-style: solid;
  border-width: 10px;
}

#map {
  position: relative;
  height: inherit;
  width: inherit;
}
