
body {
  padding: 0px;
  margin: 0px;
}

p {
  font-size: 14px;
}

#map,
body,
html {
  height: 100%;
  width: 100%
}

.panel {
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  margin-bottom: 20px;
  height: 230px;
  width: 300px;
  /* margin: 10px; */
  padding: 5px;
}

.metadata-row {
  height: 100%;
  width: 100%;
}

.jumbotron {
  margin-bottom: 20px;
}

#map-container-fluid {
  position: relative;
  height: 400px;
  width: 100%;
  /* margin-top: 50px; */
  margin-bottom: 30px;
}

#map-frame, 
#scatter-frame, 
#bar-frame {
  position: relative;
  height: inherit;
  width: inherit;
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  margin: 0px;
}

#map {
  position: relative;
  height: 100%;
  width: 100%;
}

.legend {
  line-height: 18px;
  color: #555;
  padding: 4px;
  opacity: 0.8;
  background-color:white;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  /* opacity: .7; */
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
  }
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}
.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}
.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}


/* #scatter-frame, #bar-frame {
  position: relative;
  height: 100%;
  width: 100%;
  border-style: solid;
  border-color: gray;
  border-width: 5px;
  margin: 10px;
} */

#scatter, #bar {
  height: inherit;
  width: inherit
}